body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  
}
header {
  width: 100%;
  display: flex;
  height: 80px;
  background-color: purple;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin-left: 10px;
  list-style: none;
}
header nav ul li a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
header nav ul li a:hover{
 color: lime;
}

.container{
  width: 100%;
  max-width: 1024px;
  margin: 20px auto;
}
.container .table-cars{
  width: 100%;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.table-cars tbody tr td{
  background-color: rgba( 240,240, 240);
  padding: 5px 0;
  color: purple;
  font-weight: bold;
  border-radius: 6px;
}
a.btn{
  text-decoration: none;
}
.btn {
  padding: 4px 2px;
  border-radius: 6px;
}
.btn-edit{
  background-color: gold;
  color: #000;
}
.btn-delete{
  background-color: darkred;
  color: #fff;
}
span.msgError{
  display: block;
  margin: 0 0 10px 0;
  color: darkred;
  font-weight: bold;
  background-color: #FFA07A;
  padding: 6px 2px;
  border-radius: 5px;
}
span.msgSuccess{
  display: block;
  margin: 0 0 10px 0;
  color: #006400;
  font-weight: bold;
  background-color: #d3f8d3;
  padding: 6px 2px;
  border-radius: 5px;

}

.container form {
  width: 100%;
  max-width: 700px;
  margin: 10px auto;
}

.container form input[type="text"]{
  width: 100%;
  padding: 8px 2px;
  outline: none;
  border-radius: 5px;
  border: 1px solid purple;
  font-size: 16px;
}
.container input[type="submit"]{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid lavender;
  background-color: purple ;
  width: 120px;
  height: 40px;
  margin: 10px 0;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor:pointer;
  transition: background-color 0.6s ease-in-out;
}
.container input[type="submit"]:hover{
  background-color: #fff;
  color:purple;
  border: 1px solid purple;
}

.container .flash-message{
  color: red;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
}